<div  class='col-md-12'>
  <div class='row'>
    <div  id='asset_upload_buton' class='col-md-12'>
      <%= form_for [:admin, @digital_asset], html: { multipart: true, class: 'form-horizontal', id: 'new_multiple_digital_asset_form' }, remote: true, format: :js, authenticity_token: true do |f| %>
        <%= f.hidden_field :folder_id, class: 'digital_asset_folder_id' %>
        <% disabled = 'disabled' unless @current_folder.present? %>
        <%= f.label :attachment, class: "btn btn-primary pull-right #{disabled}", id: 'upload_asset_button' do %>
          <%= f.file_field :attachment, multiple: true, name: 'digital_asset[attachment]', class: 'hidden file_upload_attachment_field', disabled: disabled %>
          <i class='glyphicon glyphicon-cloud-upload'></i>Upload Asset
        <% end %>
      <% end %>
    </div>
  </div>
  <div id='folder_assets' class='row' data-next-url='<%= digital_assets_next_page_path(@digital_assets, @current_folder) %>'>
    <%= render partial: 'spree/admin/shared/digital_asset', collection: @digital_assets  %>
  </div>
</div>

<ul id="fileList">
</ul>

<div class="upload-assets-section">
  <div class="upload-assets-header">
    <div class="row upload-assets-header-row">
      <div class="col-xs-8 upload-assets-header-title">6 files uploaded</div>
      <div class="col-xs-4 text-right upload-assets-header-actions">
        <a href="javascript:" class="upload-assets-header-actions-link minimize-link">
          <i class="glyphicon glyphicon-menu-down menu-down"></i>
          <i class="glyphicon glyphicon-menu-up menu-up"></i>
        </a>
        <a href="javascript:" class="upload-assets-header-actions-link close-link"><i class="glyphicon glyphicon-remove"></i></a>
      </div>
    </div>
  </div>
  <div class="upload-assets-content">
    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong>Uploading</strong></div>
      </div>
    </div>

    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong class="fail">Failed</strong></div>
      </div>
    </div>

    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong class="success">Success</strong></div>
      </div>
    </div>

    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong class="success">Success</strong></div>
      </div>
    </div>

    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong class="success">Success</strong></div>
      </div>
    </div>

    <div class="upload-assets-content-row">
      <div class="upload-assets-uploader-block">
        <div class="upload-assets-uploader-bg">
          <a href="javascript:" class="uploader-cancel-button">Cancel</a>
          <div class="upload-assets-uploader-percentage">50%</div>
          <div class="upload-assets-uploader-fill" style="width: 50%;"></div>
        </div>
        <div class="upload-assets-file-name">File name goes here</div>
        <div class="upload-assets-uploader-status">Status: <strong class="success">Success</strong></div>
      </div>
    </div>
  </div>
</div>
