<%= form_for [:admin, Spree::DigitalAsset.new], html: { multipart: true, class: 'form-horizontal' }, remote: true, format: :js, authenticity_token: true do |f| %>

  <div class="form-group">
    <%= f.label :name, class: 'col-md-4 control-label' %>
    <div class="col-md-6">
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.hidden_field :folder_id, id: 'asset_folder_id', value: @current_folder.try(:id) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :attachment, class: 'col-md-4 control-label' %>
    <div class="col-md-6">
      <%= f.file_field :attachment, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>

<% end %>
