<%= form_for [:admin, @digital_asset], html: { multipart: true, class: 'form-horizontal', id: 'new_multiple_digital_asset_form' }, remote: true, format: :js, authenticity_token: true do |f| %>
  <div class="form-group">
    <%= f.label :attachment, t('.upload_new_file'), class: 'col-md-4 control-label' %>
    <div class="col-md-6">
      <%= f.hidden_field :folder_id %>
      <%= f.file_field :attachment, required: true, multiple: true, name: 'digital_asset[attachment]', class: 'select-file btn btn-default' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-6">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script id="template-upload" type="text/x-tmpl"><div class="upload">{%=o.name%}<div class="progress"><div class="progress-bar bar" style="width: 0%"></div></div></div></script>
