<% content_for :page_title do %>
  <%= Spree.t(:editing_resource, resource: Spree::DigitalAsset.model_name.human) %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= form_for [:admin, @digital_asset], html: { multipart: true, class: 'form-horizontal' }, authenticity_token: true do |f| %>
      <%= render :partial => 'form', locals: { f: f } %>

      <div class="form-group">
        <div class="col-md-offset-4 col-md-6">
          <%= button Spree.t('actions.update'), 'save' %>
          <span class="or"><%= Spree.t(:or) %></span>
          <%= button_link_to Spree.t('actions.cancel'), spree.admin_digital_assets_url, icon: 'delete', id: 'cancel_link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
