<div data-hook="admin_banner_form_fields" class="row clearfix">
  <div class="col-md-5">
    <%= f.field_container :title do %>
      <%= f.label :title %> <span class="required">*</span><br/>
      <%= f.text_field :title, class: 'form-control' %>
    <% end %>
  </div>
  <div class="col-md-5">
    <%= f.field_container :link do %>
      <%= f.label :link %> <span class="required">*</span><br/>
      <%= f.text_field :link, class: 'form-control' %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :attachment do %>
      <%= f.label :attachment %><span class="required">*</span><br/>
      <%= f.file_field :attachment, class: 'form-control select-file btn btn-default' %>
      <p class="note text-muted">Upload pic with approximate 1022 × 60 dimensions</p>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :active do %>
      <%= f.label :active %>
      <%= f.check_box :active %>
    <% end %>
  </div>

  <div class="col-md-5">
    <%= f.field_container :mobile_banner do %>
      <%= f.label :mobile_banner %>
      <%= f.check_box :mobile_banner %>
    <% end %>
  </div>

</div>
