<div class="text-center asset-area">
  <div class="digital-assets-image">
    <%= image_tag(digital_asset.attachment.url(:small), class: 'img-thumbnail attachment digital_asset_attachment' ,
      data: { id: digital_asset.id, name: digital_asset.name }, onerror: "this.onerror=null;this.src='#{asset_path('default_file_icon.png')}';")  %>
  </div>
  <p>
    <%= digital_asset.name.truncate(30) %>
  </p>


  <ul class="dropdown-menu">
    <li>
      <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe(), spree.admin_digital_asset_path(digital_asset), method: :delete, remote: true, class: 'delete_digital_asset_button with-tip', data: { original_title: 'Delete' } %>
    </li>
    <li role="separator" class="divider"></li>
    <li>
      <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe(), spree.edit_admin_digital_asset_path(digital_asset), class: 'with-tip', data: { original_title: 'Edit' } %>
    </li>
    <li role="separator" class="divider"></li>
    <li><%= link_to '<i class="glyphicon glyphicon-download"></i>'.html_safe(), digital_asset.attachment.url(:original, false), target: '_blank', class: 'with-tip', data: { original_title: 'Download' } %></li>
  </ul>
</div>
