<ul class="nav nav-sidebar" id='folder_list'>
  <li class="sidebar-menu-item">
    <a data-toggle="collapse" data-parent="#sidebar" href="#sidebar-assets">
      <span class="icon icon-file"></span>
      <span class="text"> Assets</span>
      <span class="icon icon-chevron-left pull-right"></span>
    </a>
    <ul data-hook="admin_configurations_sidebar_menu" class="collapse nav nav-pills nav-stacked" id="sidebar-assets">
      <li>
        <div class="tree-menu-container">
        <%= build_nested_set_tree(Spree::Folder.all) do |folder| %>
          <div class="btn-group">
            <button class="btn btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>
            <ul class="dropdown-menu">
             <li><a href="#" data-toggle="modal" data-target="#add-subfolder" data-id="<%= folder.id %>" data-name="<%= folder.name %>" class="add-folder">New Folder</a></li>
             <li><a href="#"  data-toggle="modal" class="rename-folder" data-target="#add-subfolder" data-id="<%= folder.id %>" data-name="<%= folder.name %>">Rename</a></li>
             <li role="separator" class="divider"></li>
             <li><%= link_to 'Delete', admin_folder_path(folder), method: 'delete', class: 'delete-folder', data: { id: folder.id } if folder.parent_id %></li>
           </ul>
         </div>
        <a href="#" class="toggle_list_menu glyphicon glyphicon-chevron-right"></a>
            <%= link_to folder.name, spree.admin_digital_assets_path(folder_id: folder.id), class: 'link sidebar-default-font', remote: digital_assets_index?, data: { id: folder.id } %>
          <% end %>
        </div>
      </li>
    </ul>
  </li>
</ul>
