<div class="modal fade" id="add-subfolder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Folder</h4>
      </div>
      <%= form_for [:admin, Spree::Folder.new], html: { multipart: true, class: 'form-horizontal', id: 'new_folder_form' }, remote: true, authenticity_token: true do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :name, class: 'col-md-4 control-label' %>
            <div class="col-md-6">
              <%= f.text_field :name, required: true, class: 'form-control' %>
              <%= f.error_message_on :name %>
            </div>
          </div>
          <div class="form-group">
            <%= f.hidden_field :parent_id, class: 'parent_id' %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit 'Create Folder', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
